@import "frappe.css";

* {
  /* reference the color by using @color-name */
  color: @text;
  min-height: 0;
  font-family: "Noto Sans Emoji";
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: alpha(@base, 0.2);
  margin: 0;
  padding: 0;
  border-radius: 1rem;
}

tooltip {
   border-radius: 1rem;
   background-color: alpha(@mantle, 0.7);
}


tooltip * {
  color: @text;
  text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.7);
}


#window {
  font-size: 1em;
  margin-left: 2rem;
  margin-right: 1rem;
}

#clock {
  color: @blue;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

#cava {
  margin-right: 1rem;
}

#cpu {
  margin-right: 1rem;
}
#memory {
  margin-right: 1rem;
}
  
#custom-music {
  padding: 0;
}

#group-music {
}

#pulseaudio {
  color: @blue;
  border-radius: 1rem 0 0 1rem;
  margin-right: 1rem;
}

#pulseaudio-slider {
    min-width: 7rem;
    color: #ffffff;
} 

#pulseaudio-slider slider {
    min-height: 0;
    min-width: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 0.7rem;
    min-width: 1rem;
    border-radius: 0.5rem;
    border: none;
    padding: 2px;
    background-color: alpha(#000000, 0.1);
}
#pulseaudio-slider highlight {
    border-radius: 0.5rem;
    border: none;
    background-color: @text;
}

#workspaces {
  border-radius: 1rem;
  background-color: alpha(@base, 0.0);
}

#workspaces button {
  color: @lavender;
  background-color: @black;
  padding-right: 0.6rem;
}

#workspaces button.active {
  background-color: alpha(@crust, 0.2);
  border-radius: 1rem;
  color: @blue;
}
#workspaces button.active * {
  color: @blue;
}


#tray {
  color: @text;
  margin-right: 1rem;
}

#custom-updates {
  color: @blue;
  border-radius: 10rem;
}

#custom-notification {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

#custom-weather {
  margin-right: 1rem;
}
