* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(48, 52, 70, 0.90);
}

button {
	border-radius: 0;
	border-color: #8caaee;
	text-decoration-color: #c6d0f5;
	color: #c6d0f5;
	background-color: #292c3c;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(63, 66, 85);
	outline-style: none;
}

#lock {
    background-image: url("/home/poppino/.config/wlogout/icons/frappe/sky/lock.svg");
}

#logout {
    background-image: url("/home/poppino/.config/wlogout/icons/frappe/sapphire/logout.svg");
}

#suspend {
    background-image: url("/home/poppino/.config/wlogout/icons/frappe/flamingo/suspend.svg");
}

#hibernate {
    background-image: url("/home/poppino/.config/wlogout/icons/frappe/yellow/hibernate.svg");
}

#reboot {
    background-image: url("/home/poppino/.config/wlogout/icons/frappe/maroon/reboot.svg");
}

#shutdown {
    background-image: url("/home/poppino/.config/wlogout/icons/frappe/red/shutdown.svg");
}

